<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae de Carla Rodriguez</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="Container">
      <img class="Container__PerfilPic" src="examplepic.jfif">
      <h1 class="Container__Fname">Deiby Medina</h1>
      <h2 class="Container__Bacherlor">Analista de datos</h2>
    <div class="Sidebar">
      <h3 class="Sidebar__Contact">CONTACTO</h3>
      <img class="Sidebar_Bar" src="Bar-removebg-preview.png">
      <div class="CtnContacts">
        <img class="CtnContacts__Logo" src="Phone.svg">
        <div class="CtnParagraph">
          <p class="CtnParagraph__Text">(+58) 412-456-345-9</p>
          <p class="CtnParagraph__Text">deibyMedina@gmail.com</p>
          <p class="CtnParagraph__Text">www.deibyViral.com</p>
        </div>
        <img class="CtnContacts__Logo" src="Mail.svg">
        <img class="CtnContacts__Logo" src="Web.svg">
      </div>
      <h3 class="Sidebar__Contact">HABILIDADES</h3>
      <img class="Sidebar_Bar" src="Bar-removebg-preview.png">
      <div class="CtnSkills">
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Liderazgo</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Adaptabilidad Laboral</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Acertivo y eficiente</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Sociable y amigable</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">100% profesional</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Constancia de potencial</p>
      </div>
      <h3 class="EducationTitle">EDUCACIÓN</h3>
      <img class="Sidebar_Bar" src="Bar-removebg-preview.png">
      <div class="CtnSkills">
        <img class="CtnSkills__Logo" src="Point.svg">

       <p class="CtnEducation__Text">Primaria: U.E.N. Aristedes Rojas</p>
       <img class="CtnSkills__Logo" src="Point.svg">
       <p class="CtnEducation__Text">Secundaria : U.E.N. Miranda Acosta</p>
       <img class="CtnSkills__Logo" src="Point.svg">
       <p class="CtnEducation__Text">Universidad Romulo Gallegos</p>
       
      </div>
    </div>
    <div class="Main">
      <h3 class="Main__Title">ACERCA DE MÍ</h3>
      
      <p class="Main__Text">Acertivo y concentrado siempre en mis objetivos , ilustrando el pensamiento sobre la creatividad de todo lo posible hacia un avance de logros y obstaculos superados</p>

      <h3 class="Main__TitleExperience">EXPERIENCIA LABORAL</h3>
   
      <p class="Main__ExperienceCount">Programación en Css</p>
      <p class="Main__Enterpise">Diseño Grafico</p>
      <p class="Main__Enterpise">2011-2018</p>
      <p class="Main__Paragraph">Ilustrando Pasos y lienzos para la formacion de ideas innovadoras</p>
      <p class="Main__ExperienceCount">Área de gestion de archivos</p>
      <p class="Main__Enterpise">2012-2014</p>
      <p class="Main__Paragraph">Base de datos SQL</p>
      <p class="Main__ExperienceCount">back-end</p>
      <p class="Main__Enterpise">Node.js</p>
      <p class="Main__Enterpise">2010-2024</p>
      <p class="Main__Paragraph">JavaScript</p>
    </div>
  </body>
</html>
