<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src='alertConfig.js'></script>
  </head>
  <body>
    <div class="Container">
      <img class="Container__PerfilPic" src="examplepic.jfif">
      <h1 class="Container__Fname">Deiby Medina</h1>
      <h2 class="Container__Bacherlor">Analista de datos</h2>
    <div class="Sidebar">
      <h3 class="Sidebar__Contact">CONTACTO</h3>
      <img class="Sidebar_Bar" src="Bar-removebg-preview.png">
      <div class="CtnContacts">
        <img class="CtnContacts__Logo" src="Phone.svg">
        <div class="CtnParagraph">
          <p class="CtnParagraph__Text">(+58) 412-456-345-9</p>
          <p class="CtnParagraph__Text">deibyMedina@gmail.com</p>
          <p class="CtnParagraph__Text">www.deibyViral.com</p>
        </div>
        <img class="CtnContacts__Logo" src="Mail.svg">
        <img class="CtnContacts__Logo" src="Web.svg">
      </div>
      <h3 class="Sidebar__Contact">HABILIDADES</h3>

      
      <div class='divisiones'>
      <img class="Sidebar_Bar" src="Bar-removebg-preview.png">
      <div class="CtnSkills">
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Liderazgo</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Adaptabilidad Laboral</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Acertivo y eficiente</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Sociable y amigable</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">100% profesional</p>
        <img class="CtnSkills__Logo" src="Point.svg">
        <p class="CtnSkills__Text">Constancia de potencial</p>
      </div>
    </div>


      <h3 class="EducationTitle">EDUCACIÓN</h3>
      <img class="Sidebar_Bar" src="Bar-removebg-preview.png">
      <div class="CtnSkills">
        <img class="CtnSkills__Logo" src="Point.svg">

       <p class="CtnEducation__Text">Primaria: U.E.N. Aristedes Rojas</p>
       <img class="CtnSkills__Logo" src="Point.svg">
       <p class="CtnEducation__Text">Secundaria : U.E.N. Miranda Acosta</p>
       <img class="CtnSkills__Logo" src="Point.svg">
       <p class="CtnEducation__Text">Universidad Romulo Gallegos</p>
       
      </div>
    </div>
    <div class="Main">
      <h3 class="Main__TitleExperience">ACERCA DE MÍ</h3>
      
      <p class="Main__Text">Acertivo y concentrado siempre en mis objetivos , ilustrando el pensamiento sobre la creatividad de todo lo posible hacia un avance de logros y obstaculos superados</p>

      <h3 class="Main__TitleExperience">EXPERIENCIA LABORAL</h3>

       <ul class='Sexperiencia'>
      <li>Programación en Css</li>
      <li>Diseño Grafico 2011-2018</li>
      <li>Área de gestion de archivos 2012-2014</li>
      <li>Base de datos SQL</li>
      <li>back-end 2010-2024</li>
      <li>Node.js JavaScript</li>
       </ul>
     
      <section class="formulario">
        <h3 class="Main__TitleExperience">Formulario</h3>

        <form action="/contacto" method='post' class="formularioo">

            <div class='divInput'>
                <label>Nombre</label>
                <input type="text" name="nombre" placeholder="Ingrese Nombre" required>
            </div>

            <div class='divInput'>
                <label>Correo</label>
                <input type="email" name="email" placeholder="Ingrese Email" required>
            </div>

            <div class='divInput'>
                <label>Comentario</label>
                <input type="text" name="comentario" placeholder="Ingrese Comentario" required>
            </div>

            <div class='divButton'>
                <button title="Enviar Mensaje" class='button'>Enviar</button>
            </div>

        </form>

    </section>
    </div>
<script type="text/javascript" src='funcionalidad.js'></script>
  </body>
</html>
